:root {
    --whiteColor: #f5f7f6;
    --blackColor: #0c0c0c;
    --primaryColor: #568DFC;
    font-family: "Open Sans", sans-serif;

    --titleSize: 4rem;
    --subTitleSize: 2rem;
    --subDivisionSize: 1.5rem;
    --paragraphSize: 1rem;

    --titleBoldness: 700;
    --subtitleBoldness: 500;
    --paragraphBoldness: 600;

    color: var(--whiteColor);
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--blackColor);
}

h1 {
    font-size: var(--titleSize);
    font-weight: var(--titleBoldness);
    text-align: center;
    margin: 2rem 0;
}

h3 {
    font-size: var(--subTitleSize);
}

h4 {
    font-size: var(--subDivisionSize);
}

h5 {
    font-size: 1.2rem;
    font-weight: 500;
}

p {
    font-size: var(--paragraphSize);
    font-weight: var(--paragraphBoldness);
}

header {
    width: 100%;
    background-color: var(--blackColor);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav {
    padding: 1rem;
}

.logo-container {
    width: 150px;
    height: auto;
}

#hitLogo {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    background-color: var(--blackColor);
    padding: 0 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.examInfos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numQuestionsDiv {
    display: flex;
    align-items: center;
}

#numQuestions {
    text-align: center;
}

.labelTitle {
    font-size: 2rem;
    font-weight: var(--paragraphBoldness);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectBox {
    width: 90%;
    margin-bottom: 1rem;
    padding: 1.5rem;
    font-size: var(--paragraphSize);
    background-color: var(--whiteColor);
    border-radius: 3rem;
}

.testTypeDiv select {
    -webkit-appearance: none;
}

.selectBox option {
    text-align: center;
}

button {
    background-color: var(--whiteColor);
    color: var(--blackColor);
    padding: 0.5rem 1rem;
    font-size: var(--subDivisionSize);
    border-radius: 0.75rem;
    cursor: pointer;
    margin-top: 1.2rem;
    transition: background-color 0.25s;
}

button:hover {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
}

#ctTitle {
    text-align: left;
}


@media screen and (min-width: 768px) {
    .answer-group {
        gap: 0.5rem;
        margin-bottom: 1.5rem;
    }
}

#userTitle {
    text-align: left;
}

.checkboxInput {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkboxLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--whiteColor);
    color: var(--blackColor);
    border: 0.2rem solid var(--blackColor);
    border-radius: 0.5rem;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.checkboxInput:checked + .checkboxLabel {
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    border-color: var(--blackColor);
}

.checkboxLabel:hover {
    background-color: #d0d0d0;
}


#answerInputs button{
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }
    
    .selectBox {
        width: 100%;
        padding: 1rem;
        font-size: 1.2rem;
    }
    
    button {
        font-size: 1.5rem;
    }
    
    .labelTitle {
        font-size: 1.4rem;
    }
}